# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Dependencies
venv/
env/
ENV/
.env

# Project specific
backend/node_modules/
frontend/node_modules/
dist/
build/
.next/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
